doctype html
html(lang="en")
    head
        meta(name="viewport", content="initial-scale=1.0, user-scalable=no")
        link(rel="stylesheet", href="/bootstrap.min.css")
        link(rel="stylesheet", href="/freebox-finder.css")
        title Freebox Finder - Find/list freeboxes in your area
    body
        #head
            #page-title
                .container
                    h1 Free-box Finder
            #location
                #current-location
                    .heading
                        h4 Current Location [&nbsp;
                            a(id="get-location") get
                            |&nbsp;]
                    .container
            #nav
                ul(class="nav nav-tabs", role="tablist")
                    li.active
                        a(href="#search", data-toggle="tab", role="tab") Search 
                    li
                        a(href="#set-location", data-toggle="tab", role="tab") Location
                    li
                        a(href="#list", data-toggle="tab" role="tab") New Box
                .tab-content
                    div(id="search", class="tab-pane active")
                        .row &nbsp;
                        .row
                            .col-md-4 &nbsp;
                            div(class='input col-md-2')
                                label tags&nbsp;&nbsp;
                                input(id="tags")
                            div(class='input col-md-2')
                                button(id="search-now") Search
                            .col-md-4 &nbsp;
                        .row &nbsp;
                    div(id="set-location", class="tab-pane")
                        .row &nbsp;
                        .row
                            .col-md-4 &nbsp;
                            div(class='input col-md-2')
                                label new location
                                input(id="new-location")
                            div(class='input col-md-2')
                                button(id="set-location-now") Set Location
                            .col-md-4 &nbsp;
                        .row &nbsp;
                    div(id="list", class="tab-pane")
                        .row &nbsp;
                        .row
                            .col-md-4 &nbsp;
                            div(class='input col-md-2')
                                label box location
                                input#new-box-location 
                                label box tags
                                input#new-box-tags
                            div(class='input col-md-2')
                                button(id="new-box-now") List FreeBox
                            .col-md-4 &nbsp;
        #map-canvas
            p 
        #list
            
        #footer
            a(id="termsTrigger") Terms and Conditions
            #terms
                p=license
        script(src="/jquery-1.11.1.js")
        // bootstrap - Latest compiled and minified JavaScript
        script(src="/bootstrap.min.js")
        script(src="http://maps.googleapis.com/maps/api/js?libraries=places&key=AIzaSyDbdCuzVMY5_X5LN4hwNwkteCVxkJayCWM")
        script(src="/socket.io/socket.io.js")
        script(src="/utils.js")
        script(src="/freebox-finder.js")
        script(src="/scripts.js")
