
html { 
	height: 100% 
}

body { 
	height: 100%; 
	margin: 0; 
	padding: 0 
}

.name label {
	display: block;
	margin: 0 auto;
	padding-bottom: 7px;
	text-align: center;
}

.nav-tabs ul {
	margin: 0 auto; 
}

.nav-tabs li {
	position: relative;
   	float: center;
   	display: inline-block;
    margin: 0 auto;
}

.info {
	text-align: center;
}

.input-boxes input button {
	margin: 0 auto;
	position: relative;
	float: center;
	display: inline;
}

#boxes-list {
	text-align: center;
}

#boxes-list ol {
	list-style-position: inside;
	list-style-type: upper-latin;
	padding-left: 0;
}

#cityState p {
	font-size: 20px;
}

#footer {
	text-align: center;
	margin: 20px auto;
}

#head {
    text-align: center;
}

#map-canvas {
	height: 500px;
	width: 80%; 
	margin: 20px auto;
	text-align: center;
}

#nav { 
	height: 150px;
}

#nav-location {
	padding-top: 10px;
}

#terms {
	display: none;
}
